<!DOCTYPE html>
<html>
<head>
    <title>STORE INDENT </title>
</head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'inventory/css/bootstrap.min.css' %}"/>
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Index </a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>STORE INDENT</h1>
      </div>
        {% block content %}

        {% endblock %}


    </div>


</body>
</html>