{% extends 'inventory/base.html' %}

{% block content %}
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      var x1 = y1 = x2 = y2 = x2 = y3 = 0;
      var incremtalValue1 = parseInt($('#myTable .value_1').text());
      $("#change_1").attr('step', incremtalValue1);

      var incremtalValue2 = parseInt($('#myTable .value_2').text());
      $("#change_2").attr('step', incremtalValue2);

      var incremtalValue3 = parseInt($('#myTable .value_3').text());
      if (incremtalValue3 == 0) {
        incremtalValue3 = incremtalValue3 + 1;
        $("#change_3").attr('step', incremtalValue3);
      }
      else {
        $("#change_3").attr('step', incremtalValue3);
      }


      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $("#change_1").on("change", function () {
        x1 = parseInt($("#myTable .update_value_1").text())
        incremtalValue1 = parseInt($(this).val())
        console.log("test => ", x1, y1, incremtalValue1)
        if (incremtalValue1 > y1) {
          x1 = x1 + parseInt($("#change_1").attr('step'));
        } else {
          x1 = x1 - parseInt($("#change_1").attr('step'));
        }
        y1 = incremtalValue1;
        $("#myTable .update_value_1").text(x1)
      });

      $("#change_2").on("change", function () {
        x2 = parseInt($("#myTable .update_value_2").text())
        incremtalValue2 = parseInt($(this).val())
        if (incremtalValue2 > y2) {
          x2 = x2 + parseInt($("#change_2").attr('step'));
        } else {
          x2 = x2 - parseInt($("#change_2").attr('step'));
        }
        y2 = incremtalValue2;
        $("#myTable .update_value_2").text(x2)
      });

      $("#change_3").on("change", function () {
        x3 = parseInt($("#myTable .update_value_3").text())
        incremtalValue3 = parseInt($(this).val())
        console.log("Test => ", x3, y3, incremtalValue3, parseInt($("#change_3").attr('step')))
        if (incremtalValue3 > y3) {
          x3 = x3 + parseInt($("#change_3").attr('step'));
          console.log("Test1 => ", x3, y3, incremtalValue3, parseInt($("#change_3").attr('step')))
        } else {
          x3 = x3 - parseInt($("#change_3").attr('step'));
          console.log("Test2 => ", x3, y3, incremtalValue3, parseInt($("#change_3").attr('step')))
        }
        y3 = incremtalValue3;
        $("#myTable .update_value_3").text(x3)
      });

    });
  </script>
  <style>
    table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .value_1, .value_2, .value_3{display: block;}
</style>
</head>

<body>
  <input id="myInput" type="text" placeholder="Search..">
  <br><br>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>SOH</th>
        <th>SUF</th>
        <th>Prapossed indent</th>
        <th>+/-</th>
        <th>Final Indent Qty</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>John</td>
        <td>12</td>
        <td><span class="value_1">10</span></td>
        <td>40</td>
        <td><input type="number" id="change_1" value="0"> </td>
        <td class="update_value_1">30</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>12</td>
        <td><span class="value_2">2</span></td>
        <td>40</td>
        <td><input type="number" id="change_2" value="0"> </td>
        <td class="update_value_2">40</td>
      </tr>
      <tr>
        <td>July</td>
        <td>12</td>
        <td><span class="value_3">0</span></td>
        <td>40</td>
        <td><input type="number" id="change_3" value="0"> </td>
        <td class="update_value_3">40</td>
      </tr>
    </tbody>
  </table>

</body>

</html>
{% endblock %}